.parent{
  display:flex;
  justify-content:center;
  
}
.child{
  width:20%;
  height:50%;
  border:1px solid #ddd;
  padding:1%;
  margin:1%;
  box-shadow:0px 8px 8px -8px  #0000;
  text-align: center;
  background-color: pink;
  font-size: 25px;
  text-decoration-color: royalblue;
}
.btn{
  background: skyblue;
  color:#fff;
  padding: 1%;
  text-decoration:none ;
  display: block;

}
.child img{
  width:50%;
  background-color: cyan;
  border-radius: 50%;

}
.link{
   text-decoration:none;
}
.child2{
  border:1px solid #ddd;
  width:75%;
  padding:1%;
  margin:1%;
  box-shadow: 0px 8px 8px -8px #000;

}
.skill{
  margin:.5%;
  padding:.5%;
  color:#fff;
  border-radius:10px;
  background: skyblue;
  border:1px solid #1CDBE1;
  box-shadow: 0px 8px 8px -8px #000;


}